.eggs
__pycache__
.snakemake
describe_workflow.rst
describe_jupyter_notebook.txt
cnvkit_pon
/data/
/ref_data/

.keras/
.parallel/
slurm/
.cache/

.DS_Store
._.DS_Store

logs/
results/
ref_data/
alignment/
annotation/
prealignment/
references/