.eggs
__pycache__
.snakemake
describe_workflow.rst
describe_jupyter_notebook.txt
cnvkit_pon
/data/

.keras/
.parallel/
slurm/
.cache/
.claude/
.pixi/
.pytest_cache/

.DS_Store
._.DS_Store

logs/
results/
alignment/
annotation/
prealignment/
references/
ref_data/
config/samples_N.tsv
config/units_N.tsv

sync_*.sh
